<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{% static '/css/info.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Chewy&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/26197ec3bf.js"></script>

    <title>Info Restoran</title>
</head>

<body>
    {% if user.is_authenticated %}
    <div id="header">
        <div class="container">
            <div class="container-btn">
                <div class="ml-auto">
                    <button type="button" class="btn btn-danger"><a href="/listresto/?arg={{resto.place.id}}">Back</a></button>
                </div>
            </div>

            <h1>{{ resto.nama }}</h1>

            <div class="big-container">
                <div class="container-restoran">
                    <div class="img-container">
                        <img src="{{ resto.image }}" alt="RESTORAN-DEPOK-01">
                    </div>
                    <a href="/book/?arg={{resto.id}}" class="btn btn-light">BOOK</a>
                </div>

                <div class="container-info">
                    <h4>Alamat: {{ resto.alamat }}</h4>
                    <h4>Telepon: {{ resto.phone }}</h4>
                    <p>{{ resto.desc }}</p>
                    <div class="likes"><button class="btn-like" data="{{ resto.id }}"><i class="far fa-thumbs-up"></i></button> {{ resto.likes }} &nbsp; Likes</div>
                </div>
            </div>
        </div>
    </div>

    <div id="review">
        <div class="form-container">
            <h2>Berikan Review</h2>
            <form id="form" action="/info/?arg={{resto.id}}" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit" id="submit_review">SUBMIT</button>
            </form>
        </div>

        <div class="reviews">
            <h4>Review</h4>
            {% for review in reviews %}
                <div class="review">
                    <h5> {{ review.name }} </h5>
                    <p> {{ review.content }} </p>
                </div>
            {% endfor %}
        </div>
    </div>

    {% else %}
    <div id="not-login">
        <div class="login-container">
            <h1>silakan pergi ke Halaman login terlebih dahulu</h1>
            <a href="{% url 'homepage:home' %}">login</a>
        </div>
    </div>
    {% endif %}
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
<script src="{% static 'js/info.js' %}"></script>

<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>

<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script><script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script>

<script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>

</html>