/* --------------- CSS RESET -------------- */

* {
    box-sizing: border-box;
    font-family: 'arial';
    color: 'yellow';
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* --------------- HEADER -------------- */

#header {
    background: #FFF800;
}

.container {
    max-width: 1100px;
}

/* --------------- BACK BUTTON -------------- */

.container-btn {
    max-width: 1100px;
    margin: auto;
    display: flex;
}

.container-btn button {
    margin: 10px;
    border-radius: 50%;
    width: 70px;
}

.container-btn button a {
    color: #fff;
}

.container-btn button a:hover {
    text-decoration: none;
    color: #ffc;
}

.container {
    align-items: right;
}

.top {
    display: flex;
    flex-direction: row;
}

.form-conta {
    padding-top: 5px;
    margin-top: 5px;
    width: 120px;
}

.form-conta input {
    width: 75%;
}

.btn-back-2 {
    display: inline;
}

.left-section{
    float : left;
    height: 100%;
    vertical-align: middle;
    padding :  20px 40px 10px 20px; 
}

.clearfix{
    overflow: auto;
}

