<!DOCTYPE html>

{% extends "homepagebase.html" %}
{% load static %}

<!--Disclaimer	: there's no bug in this code, there's only feature 
	@author		: Harnindyto wicaksana, 
	contact		: todi.to;-->

<html>
	  {%block main%}
	  <div class="makeitmiddle">
		<div class="inthemiddle">
			<h2>Login</h2>
			<form method="post">
			  {% csrf_token %}
			  {{ form.as_p }}
			  <button type="submit">Login</button>
			</form>
			<a href='../../signup'><h7><br>Don't have an account yet?</h7></a>
		</div>
	  </div>
	  {%endblock%}
	
	
</html>