@import "base.css";
/* background carousel */
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* middle-ing things */
.makeitmiddle{
	float		: "none";
	width 		: 50%;
	margin		: auto;
    position	: absolute;
    top			: 50%;
    left		: 50%;
    -moz-transform		: translateX(-50%) translateY(-50%);
    -webkit-transform	: translateX(-50%) translateY(-50%);
    transform	: translateX(-50%) translateY(-50%);
}
}

/* more middle */
.middle{
	height 		: 50%;
	margin		: 0 auto;
}
.inthemiddle{
	margin 		: 0 auto;
}

.float{ 
	position: relative; 
	top:0;
	right:0;
}
