<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/listresto.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Restoran</title>
</head>
<body>
    <div id = "header">
        <div class = "container">
            <div class="top">
                <h1>Restoran Favorit di Sekitarmu:</h1>
                <div class="btn-back-2"></div>	
                    <div class="container-btn">
                        <button type="button" class="btn btn-danger" onclick="window.location.href='/'">Back</button>
                    </div>
                </div>
            </div>
        </div>

        {% for resto in restos %}
        <div class = "resto clearfix">
			<div class = "img-resto left-section">
				<img src="{{ resto.image }}" style="width: 300px; height: 200px;" alt="RESTORAN-DEPOK-01">
			</div>
			<div style="padding-top: 20px;">
				<h2>{{ resto.nama }}</h2>
				<div class = "content-resto">
					<h6>{{ resto.alamat }}</h6>
                    <h6>{{ resto.phone }}</h6>
                    <p>{{ resto.desc }}</p>
				</div>
				<div class="container-btn">
					<div class="ml-auto">
						<a class="btn btn-warning" href="/info/?arg={{resto.id}}">Lihat</a>
					</div>
				</div>
			</div>
        </div>
        {% endfor %}
		
		{% comment %} <div class = "resto clearfix">
			<div class = "img-resto left-section">
				<img src="{% static '/images/01.jpeg' %}" style="width: 300px; height: 200px;" alt="RESTORAN-DEPOK-01">
			</div>
			<div style="padding-top: 20px;">
				<h2>Toodz House</h2>
				<div class = "content-resto">
					<h6>Jl. Cipete Raya No. 79, Fatmawati, Jakarta</h6>
                    <h6>021-75930183</h6>
                    <p>Berlokasi di jalan Cipete Raya, Toodz House ini termasuk kafe yang cukup unik. Karena pada dasarnya ini adalah sebuah rumah yang disulap menjadi kafe. Bisa ditebak ambience yang ditawarkan akan sangat homey, dengan penggunaan sofa sebagai tempat duduk. Ada area indoor di dalam rumah untuk non-smoking dan outdoor di teras untuk smoking. Interior kafe dihiasi berbagai macam pernak-pernik yang biasanya kita temui di rumah tinggal. Penggunaan warna-warna hangat seperti coklat, hijau dan oranye menambah kesan homey. Pelayanannya pun excellent, sangat ramah dan juga tanggap ke customer. Tempatnya memang tidak begitu besar, jadi terkadang kafe ini bisa jadi sangat crowded dengan customer.</p>
				</div>
				<div class="container-btn">
					<div class="ml-auto">
						<button type="button" class="btn btn-warning" onclick="window.location.href={% url 'info:info' %}">Lihat</button>
					</div>
				</div>
			</div>
        </div>
        
        <div class = "resto clearfix">
			<div class = "img-resto left-section">
				<img src="{% static '/images/02.jpeg' %}" style="width: 300px; height: 200px;" alt="RESTORAN-DEPOK-01">
			</div>
			<div style="padding-top: 20px;">
				<h2>Baxtersmith Dining</h2>
				<div class = "content-resto">
                    <h6>Jl. Suryo No. 28, Senopati, Jakarta</h6>
                    <h6>021-70837181</h6>
                    <p>Baxter Smith sendiri buka sejak tahun 2016 lalu tepatnya di bulan Juni. Konsep dari Baxter Smith ini adalah one stop entertaiment. Disini tersedia dari mulai dining, bar, lounge. Baxter Smith sendiri mempunyai 3 lantai, untuk lantai 1 adalah tempat untuk dining. Konsep interior di lantai 1 ini adalah industrial jaman kolonial Inggris, dengan design menyerupai konsep mesin waktu. Terlihat jelas interior disini banyak unsur besi dan kayu sebagai ornamen interiornya. Sedangkan dilantai 2 disini adalah bar dan juga club, yang designnya seperti didalam kapal selam kuno. Dan untuk di lantai 3 sendiri merupakan lounge, disini tempatnya lebih terbuka, dan interiornya lebih banyak mengutamakan unsur kayu.</p>
				</div>
				<div class="container-btn">
					<div class="ml-auto">
						<button type="button" class="btn btn-warning" onclick="window.location.href={% url 'info:info' %}">Lihat</button>
					</div>
				</div>
			</div>
        </div>
        
        <div class = "resto clearfix">
			<div class = "img-resto left-section">
				<img src="{% static '/images/03.jpeg' %}" style="width: 300px; height: 200px;" alt="RESTORAN-DEPOK-01">
			</div>
			<div style="padding-top: 20px;">
				<h2>Toko Kopi Tuku</h2>
				<div class = "content-resto">
                    <h6>Jl. Cipete Raya No. 7, Fatmawati, Jakarta</h6>
                    <h6>021-71817627</h6>
					<p>Mengusung nama Tuku, toko kopi ini berarti "beli" dalam Bahasa Jawa. Meski baru satu tahun berdiri, toko kopi Tuku sudah cukup banyak dikenal warga Jakarta. Nampaknya omongan dari mulut ke mulut jadi salah satu faktor pemicunya. Tuku disebut-sebut punya racikan kopi enak dan ramah di kantong. Cocok juga bagi yang sekedar ingin membeli kopi tanpa berlama-lama. Bisa dikatakan semacam 'grab and go'. Tertarik, kami pun melangkahkan kaki ke wilayah Cipete tempat Tuku berada.</p>
				</div>
				<div class="container-btn">
					<div class="ml-auto">
						<button type="button" class="btn btn-warning" onclick="window.location.href={% url 'info:info' %}">Lihat</button>
					</div>
				</div>
			</div>
        </div>
        
        <div class = "resto clearfix">
			<div class = "img-resto left-section">
				<img src="{% static '/images/05.jpeg' %}" style="width: 300px; height: 200px;" alt="RESTORAN-DEPOK-01">
			</div>
			<div style="padding-top: 20px;">
				<h2>Walking Drums</h2>
				<div class = "content-resto">
                    <h6>Jl. Margonda Raya No. 426, Beji, Depok</h6>
                    <h6>021-74926162</h6>
					<p>Walking Drums memiliki beberapa area makan. Untuk area indoor ada 2 ruangan, satu berada dekat lapangan tenis dan satu lagi berada dekat parkiran yang diapit dengan 2 area outdoor. Bangunan utamanya adalah yang berada dekat dengan parkiran. Di area outdoor yang menghadap ke lapangan, ada kolam ikannya. Sepertinya jika cuaca tidak panas, seru juga makan di area outdoor ini. Keseluruhan area makan resto ini cozy dan homey untuk nongkrong ala cafe.</p>
				</div>
				<div class="container-btn">
					<div class="ml-auto">
						<button type="button" class="btn btn-warning" onclick="window.location.href={% url 'info:info' %}">Lihat</button>
					</div>
				</div>
			</div>
        </div>
        
               <div class = "resto clearfix">
			<div class = "img-resto left-section">
				<img src="{% static '/images/06.jpg' %}" style="width: 300px; height: 200px;" alt="RESTORAN-DEPOK-01">
			</div>
			<div style="padding-top: 20px;">
				<h2>Dejabrew Coffee and Eatery</h2>
				<div class = "content-resto">
                    <h6>Jl. Margonda Raya No. 267, Beji, Depok</h6>
                    <h6>021-75839475</h6>
					<p>Lokasinya di Jalan Margonda, di seberang Hotel Bumi Wiyata agak ke depan dikit. Dari luar udah keliatan plang nya. Tapi karena lokasinya di ruko, jadi sempit gitu. Tempat nya sendiri ada 2 lantai, yang atas untuk smoking area. Harga makanan dan minuman standar. Aku dan temen pesen iced chocotella latte, iced red velvet latte, french fries, dan chicken bowl. Minumannya pas banget di lidahku, enak gitu. Kalau makanan ya biasa aja sih. Di sini banyak colokan, dan enak buat jadi spot nugas dan berlama-lama karena wifi nya juga kenceng.</p>
				</div>
				<div class="container-btn">
					<div class="ml-auto">
						<button type="button" class="btn btn-warning" onclick="window.location.href={% url 'info:info' %}">Lihat</button>
					</div>
				</div>
			</div>
		</div> {% endcomment %}
</body>
</html>