<!DOCTYPE html>

{% extends "homepagebase.html" %}
{% load static %}

<!--Disclaimer	: there's no bug in this code, there's only feature 
	@author		: Harnindyto wicaksana, 
	contact		: todi.to;-->

<html>
	{% block main %}
		<div>
			

			{% if user.is_authenticated %}
			<a htype="button" class="btn btn-link" href="{% url 'logout' %}" style="position:absolute;top:7%;right:7%;">logout</a>
			<div class="makeitmiddle">
			<!--
			<a class="btn-floating btn-lg btn-default float"><i class="fas fa-bolt"></i></a>
			-->
			
				<div class="inthemiddle d-flex justify-content-center">
					<img src="{% static 'images/PewLicious.png' %}" alt="PewLicious logo" align="middle" style="max-width:100%;">
				</div>
				
				<div class="inthemiddle">
					<form>
						<div class="form-group">
							<select class="form-control" id="exampleFormControlSelect1">
							
							  <option value="" selected disabled hidden>Choose city</option>	
							  {% for j in Rest %}
							  
							  <option>{{ j.place }}</option>
							  
							  {% endfor %}
							  
							</select>
						</div>
					</form>
					<div class="text-right mb-3">
						
						<button type="button" onclick="window.location.href={% url 'listresto:listresto' %}" class="btn btn-outline-danger" style="padding : 0 auto;">Hungry</button>
					</div>
				</div>
				
				{% else %}
				<div class="makeitmiddle">
					<!--
					<div class="d-flex justify-content-center">
						<h1>Login first</h1>
					</div>
						<div class="d-flex justify-content-center">
						<a htype="button" class="btn btn-link" href="{% url 'login' %}">login</a>
					</div>
					-->
					<meta http-equiv="refresh" content="0; URL={% url 'login' %}" />

				{% endif %}
			</div>
		</div>
		
	{% endblock %}
	
	{% block extra %}
	<script type="text/javascript">
	  $(document).ready(function() {
		$('.carousel').carousel({interval: 6666});
	  });
	</script>
	{% endblock %}
	
</html>