<!DOCTYPE html>

{% extends "homepagebase.html" %}
{% load static %}

<!--Disclaimer	: there's no bug in this code, there's only feature 
	@author		: Harnindyto wicaksana, 
	contact		: todi.to;-->

<html>
	  {%block main%}
	  <div class="makeitmiddle">
		<div class="inthemiddle">
			<h2>Login</h2>
			<h2>Sign up</h2>
			  <form method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit">Sign up</button>
			  </form>
		</div>
	  </div>
	  {%endblock%}
	
	
</html>